/* 
* @Author: DELL
* @Date:   2018-03-27 15:02:50
* @Last Modified by:   DELL
* @Last Modified time: 2018-03-28 20:39:40
*/
@charset "utf-8";
body,ul,ol,h1,h2,h3,h4,h5,h6,p,input,select,textarea,dl,dd{margin: 0;padding: 0;}
ul,ol{list-style: none;}
table { 
 border-collapse:collapse; 
 border-spacing:0; 
} 
th,td { 
 padding: 0; 
}
input,select,textarea{background-color: transparent; border: none; outline: none;}
textarea{resize: none;}
img{border: none; vertical-align: top;}
a{text-decoration: none;}

.clearfix:after,.clearfix:before{content: "";display: table;}
.clearfix:after{clear: both;}
.clearfix{*zoom:1;}
.gwidth{

	width:1000px;
	margin-left: auto;
	margin-right: auto;
}
.left img{

	margin-top: 45px;
}